<!-- filepath: views/pacientes/crear.ejs -->
<!DOCTYPE html>
<html>
<head>
  <title>Crear Paciente</title>
  <style>
    form { width: 300px; margin: 40px auto; display: flex; flex-direction: column; gap: 10px; }
    label { font-weight: bold; }
    input { padding: 5px; }
    button { padding: 8px; }
  </style>
</head>
<body>
   <!-- Button back to home-->
    <a href="/" style="display: block; text-align: center; margin: 20px; text-decoration: none; color: blue;">Volver al Inicio</a>
    
  <h1 style="text-align:center;">Registrar Nuevo Paciente</h1>
  <form>
    <label>DNI:</label>
    <input type="text" name="dni" required>
    <label>Nombre:</label>
    <input type="text" name="nombre" required>
    <label>Apellido:</label>
    <input type="text" name="apellido" required>
    <label>Email:</label>
    <input type="email" name="email" required>
    <label>Contraseña:</label>
    <input type="password" name="password" required>
    <button type="submit">Crear Paciente</button>
  </form>


  <script>
    //take values from form and fetch to /api/v1/pacientes/
    document.querySelector('form').addEventListener('submit', function(event) {
      event.preventDefault();
      const formData = new FormData(this);
      const data = Object.fromEntries(formData.entries());

      fetch('/api/v1/pacientes/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
      })
      .then(
        (response) =>{
            response.json()
            if(response.ok) {
                alert('Paciente creado exitosamente');
                window.location.href = '/'; // Redirect to home
                console.log(response) 
            } else {
                alert('Error al crear paciente: ' + data.message);
              
            }
        } )
      .catch(error => console.error('Error:', error));
    });


  </script>

</body>
</html>